// FONT
$body-font: 'Maven Pro', sans-serif;
$heading-font: 'Cormorant', serif;
$roboto: 'Roboto', sans-serif;
$altfont: 'TheSecret';

// MY THEME COLORS 
$color: #2d2d2e;
$dark: #121213;
$gray: #d2d4d6;
$gray-b: #91919b;
$pink : #fda68b;
$pink-light: #f4eae2;


