/* ====================================
13. Contact
 ====================================== */
.contact-parallax{
    padding: 9.375rem 0;
    background-size: cover;
    &::before{
        background: $dark;
        @include opacity(.7);
    }
    
}
.promo-content{
    h1, span{
        color: $white;
    }
    span{
        i{
            margin-right: 0.3125rem;
        }
    }
}
.contact-content{
    &.left-line::before{
        left: auto;
        right: -2.5rem;
        height: 86%;
    }
    .btn{
        padding: 0.9375rem 3.125rem;
    }
}
.contact-form {
    .form-group{
        margin-bottom: 1.875rem;
    }
}